[submodule "hw/submodules/teensy.pretty"]
	path = hw/submodules/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
[submodule "hw/submodules/teensy_library"]
	path = hw/submodules/teensy_library
	url = https://github.com/XenGi/teensy_library.git
[submodule "hw/submodules/MX_V2"]
	path = hw/submodules/MX_V2
	url = https://github.com/ai03-2725/MX_V2.git
[submodule "hw/submodules/ProMicroKiCad"]
	path = hw/submodules/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad.git
[submodule "hw/submodules/SkeletonKBD-Parts"]
	path = hw/submodules/SkeletonKBD-Parts
	url = https://github.com/skeletonkbd/SkeletonKBD-Parts
